 *{
        margin: 0;
        padding: 0;
    }

    .box{
        position: relative;
        display: flex;
        justify-content: center;
        height: 100vh;
        background-color: #ccc;
        margin: 0;
        padding: 0;
    }
    #container{
        margin: 100px;
        width: 350px;
        height: 450px;
        display: block;
        background-color: blueviolet;
        text-align: center;
        padding:20px 40px 20px 20px;
        border-radius: 5px;
        box-sizing: border-box;
    }
    label{
        display:block;
        font-weight: bold;
        font-size: large;
        text-align: left;
        margin-bottom: 10px;
    }
   h1{
        padding: 10px 10px 30px 10px;
    }
    input[type="text"], input[type="password"]{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border:1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    }
    #submit{
        margin-top: 20px;
        background-color: blue;
        width:100%;
        padding: 10px;
        color:white;
        border:none;
        border-radius: 5px;
        
    }
    #submit:hover{
        background-color: darkblue;
        cursor: pointer;
    }
    #submit:active{
        background-color: blue;
    }

   #forgot{
        color: #ccc;
        text-decoration: none;
    }
    #forgot:hover{
        color: blue;
        cursor: pointer;
    }
    #new_user{
        color: #ccc;
        text-decoration: none;
    }
    #new_user:hover{
        color: blue;
        cursor: pointer;
    }
    .help{
        position: relative;
        top:2px;
        left:800px;

    }
    #help{
        height:35px;
        padding-bottom:2px;
        display: block;
        background-color: blue;
        border:none;
        border-radius:2px;
        color: white;
        position: left;
        box-sizing: border-box;
    }
    #help:hover{
        background-color: darkblue;
        cursor: pointer;
    }
    #help:active{
        background-color: blue;
    }
